<div class="project">
  <a type="button" name="button" id='btn-main'>SHOW MORE  <img class="arrow" src="/images/arrow-down.svg"></a>
</div>
<!--About Us Section-->
<section class="about">
  <div class="blue-border">

  </div>
  <h2>ABOUT US</h2>
  <div class="line">

  </div>
  <div class="">
    <picture class="logo-about">
      <source srcset="/images/Logo.webp" type="image/webp">
      <source srcset="/images/Logo.png" type="image/png">
      <img src="/images/Logo.png" alt="Krahn Construction Logo">
    </picture>
  </div>
  <div class="">
    <div class="intro">
      <div class="intro-item">
        <p>Eliminating guesswork with the latest guidance technology.</p>
      </div>
      <div class="intro-item">
        <p>Dedicated to efficiently completing your project on time.</p>
      </div>
    </div>
    <p>Krahn Const. started as a home building crew in 1987 in
Aylmer, ON by George Krahn. He bought his first backhoe
in 1995 to help with the construction of the homes. The
company moved from there to the Leamington area and
it took off into smaller residential excavating jobs, septic
systems and such like.
KC now takes on larger earthmoving projects,
greenhouse site prep, storm drainage with its expanding
fleet of equipment and also has the resources and the
experience for the smaller scale jobs as well.</p>
  </div>
</section>
